<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Category</th>
    <th></th>
    <th></th>
  </tr>

<% contact = Contact.find(@eid) %>

  <tr>
    <td><%= contact.name %></td>
    <td><%= contact.address %></td>
    <td><%= contact.categories.collect{|u| u.name}.join(', ') %></td>
  </tr>

</table>

<br />