
<% content_for :scripts do %>
  <script type="text/javascript">

  function refreshS(arg) 
    for (var i = 0; i <  Gmaps.map.markers.length; ++i) {
      Gmaps.map.createSidebar(Gmaps.map.markers[i]);
    };
  

$("#categories li").click(function() {
    //Auf all geklickt?
    if($('a', this).is('.all')) {
      $("#categories li.active").removeClass("active");
      $("#categories li a.all").fadeOut();
    }
    else {
      //Kategorie kennzeichnen
      if($(this).is(".active"))
        $(this).removeClass("active");
      else
        $(this).addClass("active");
        
      //ALL Button einblenden, wenn noch nicht geschehen.
      if(!$("#categories li .all").is(":visible")) {
        $("#categories li .all").fadeIn();
      }
      
      //Wenn alle anklickt sind dann alle deaktivieren...
      if($("#categories li").length == $("#categories li.active").length) {
        $("#categories li").removeClass("active");
        $(this).addClass("active");
        //..und all ausblenden
        $("#categories li a.all").fadeOut();
      }
    }
    
    //Jetzt nur die passenden Einträge anzeigen
    if($("#categories li.active").length > 0) {
      $("#calendar .dates .date:visible .event").hide();
      $("#categories li.active").each(function() {
        $("#calendar .dates .date:visible .event[category*="+$(this).attr("rel")+"]").show();
      });
    }
    else {
      $("#calendar .dates .date:visible .event").show();
    }
    Gmaps.map.hideMarkers();
    // hideUnnessaryMarkers();
    return false;
  });
$("#categories li a.all").click(function() { 
    Gmaps.map.showMarkers(); 
    refreshS();
    $("#categories li.active").removeClass("active");
    $("#categories li a.all").fadeOut();
    return false;
});

  </script>
<% end %>
  
<%#= gmaps4rails(@json) %>

<div id="categories" style="height: 30px;">
  <ul>
   <% Category.all.each do |cat| %>  
    <li style="display:inline; margin-right: 10px;" rel="<%=cat.id%>"> <a href="#"> <%=cat.name%> </a> </li>
   <% end %>
    <li style="display:inline; margin-right: 10px;"><a href="#" class="all">all</a></li>
  </ul>
</div>

<ul id="markers_list" style="float:right; margin-right: 30px;">  </ul>

<%= gmaps("markers" => { "data" => @allmarkersjson, "options" => { "do_clustering" => false, "list_container" => "markers_list", "rich_marker" => true , "auto_zoom" => true } }) %>

<%#= gmaps("markers" => { "data" => @allmarkersjson, "options" => { "do_clustering" => true, "rich_marker" => true  } }) %>



