
<div id="categories" style="height: 30px;">
  <ul>
   <% Category.all.each do |cat| %>  
    <li style="display:inline; margin-right: 10px;" rel="<%=cat.id%>"> <a href="#"> <%=cat.name%> </a> </li>
   <% end %>
    <li style="display:inline; margin-right: 10px;"><a href="#" class="all">all</a></li>
  </ul>
</div>


<ul id="markers_list">  </ul>


<%= gmaps("markers" => { "data" => @allmarkersjson, "options" => { "do_clustering" => false, "list_container" => "markers_list", "rich_marker" => true , "auto_zoom" => true, #"custom_infowindow_class" => "yellow"  
} }) %>

<%#= gmaps("markers" => { "data" => @allmarkersjson, "options" => { "do_clustering" => true, "rich_marker" => true , "custom_infowindow_class" => "yellow"  } }) %>



<% content_for :scripts do %>

<script type="text/javascript" charset="utf-8">
  Gmaps.map.callback = function() {
    // var style = [
    //       {
    //         featureType: 'all',
    //         elementType: 'all',
    //         stylers: [{ saturation: -20 },{ lightness: -20 },{ gamma: 0.8 }]
    //       },
    //       { 
    //         featureType: "water",
    //         elementType: 'all',
    //         stylers:[
    //           { color: "#646ca7" },
    //           {saturation: "-80"},
    //           //{lightness:80}
    //         ]
    //       }
    // ];
    // var styledMapType = new google.maps.StyledMapType(style, {map: map, name: 'Styled Map'  });
    // Gmaps.map.map.mapTypes.set('map-style', styledMapType);
    // Gmaps.map.map.setMapTypeId('map-style');

    google.maps.event.addListener(Gmaps.map.serviceObject, "click", function() {
      //alert("You clicked the map.");
      closeBubble();
    });

    // google.maps.event.addListener($('div[title="Show street map"]'), "click", function() {
    //   //alert("You clicked the map.");
    //   closeBubble();
    // });

  // initializing of the Xtra Controls (code in xtraControls.js, Controls are "hidden" via z-index)
  // only of importance when using classic standard gmaps InfoWindows
  //    * - * - * - *
  // strange behavior here: these controls dont get taken into account when InfoBoxes are used 
  // (special treatment via ",infoBoxClearance: new google.maps.Size(225,100)"  )

  initializeXtraContrl();
    
  };

  Gmaps.map.infobox = function(boxText) {
    return {
      content: boxText
      ,disableAutoPan: false
      ,maxWidth: 0
      ,pixelOffset: new google.maps.Size(-140, 0)
      ,zIndex: null
      ,boxStyle: {
        background: "url('http://google-maps-utility-library-v3.googlecode.com/svn/tags/infobox/1.1.5/examples/tipbox.gif') no-repeat"
        ,opacity: 0.95
        ,width: "200px"
        }
      ,closeBoxMargin: "10px 2px 2px 2px"
      ,closeBoxURL: "http://www.google.com/intl/en_us/mapfiles/close.gif"
      // Clearance in px : horizontal , vertical
      ,infoBoxClearance: new google.maps.Size(225,100)
      ,isHidden: false
      ,pane: "floatPane"
      ,enableEventPropagation: false
  }};

    

</script>
<% end %>

<script src="/assets/markerz.js?body=1" type="text/javascript"></script>